server:
  port: 9000
spring:
  application:
    name: "cards"
  profiles:
    active: "qa"
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root
    jpa:
      show-sql: true
  config:
    import: "optional:configserver:http://localhost:8071/"
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
