server:
  port: 9000
spring:
  application:
    name: "cards"
  profiles:
    active: "prod"
  sql:
    init:
      mode: always
  datasource:
    url: jdbc:mysql://localhost:3306/cardsdb?createDatabaseIfNotExist=true
    username: root
    password: user@root
    jpa:
      show-sql: true
  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

logging:
  level:
    com:
      nexopay:
        cards: DEBUG
info:
  app:
    name: "cards"
    description: "Eazy Bank Cards Application"
    version: "1.0.0"
